@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top{
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    color: #f9faf8;
}

.headerLogo {
    display: flex;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.subText{
    color: #e5e7eb;
}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.heroText{
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    max-width: 350px;
}

.subtext{
    font-size: 18px;
    color:#e5e7eb;
    max-width: 450px;
    margin-top: 12px;
    margin-bottom: 12px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 125px;
    padding: 8px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: #3882f6;
}

button:hover{
    transition: 250ms;
    filter: brightness(80%)
}

button:active{
    transform: scale(105%)
}

.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    height: auto;
    width: 512px;
}

.informationTab{
    display: flex;
    flex-direction: column;
    background: white;
    height: 512px;
    justify-content: center;
}

.informationHeader{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 64px;
}

.squareImage{
    display: flex;
    border-radius: 15px;
    border: 4px solid #3882f6;
    width: 192px;
    height: 192px;
}

.squareSubtext{
    text-align: center;
    max-width: 192px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.squareImages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteTab{
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    height: 512px;
    justify-content: center;
    align-items: center;
}

.quote{
    text-align: justify;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 45%;
    margin-bottom: 16px;
}

.quoteBy{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-left: 658px;
}

.signUpTab{
    display: flex;
    background: white;
    height: 356px;
    justify-content: center;
    align-items: center;
}

.signUpM {
    display: flex;
    flex-direction: row;
    padding: 16px;
    padding-left: 32px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: #3882f6;
    width: 1280px;
    height: 128px;
}

.ModalSubtext{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.signUpM button{
    display: flex;
    border: 2px solid white;
    height: 36px;
}

.footer{
    font-size: 18px;
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
    height: 128px;
}

.SUsubText {
    font-weight: normal;
    margin-top: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
}